﻿@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
    ViewData["RoutePrefix"] = Model.RoutePrefix  == String.Empty? "/" : Model.RoutePrefix;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
